/* You can add global styles to this file, and also import other style files */
html, 
body {
    height: 100%;
}

.clock{
    font-family: "Roboto", sans-serif;
    font-size: 5vw;
}

.height-cont{
   height: 100%; 
}
.container-fluid{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}