/* You can add global styles to this file, and also import other style files */
html, 
body {
  
}

.clock{
    font-family: "montserrat";
    font-size: 5vw;
    text-shadow: 2px 2px black;
}

*{
    font-family: "montserrat";
}

.container-fluid{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}